<body class="a">
<div class="container">


<div class="card">

<h1>Compose Email</h1>
<mat-form-field class="field" appearance="outline">
    <mat-label>Input</mat-label>

<input matInput>

</mat-form-field>

<mat-form-field class="field" appearance="outline">
    <mat-label>Subject</mat-label>

<input matInput>

</mat-form-field>


<mat-form-field class="example-full-width field">
<mat-label>Enter yor message</mat-label>
<textarea row="10" matInput placeholder="Hey. It makes me feel..."></textarea>


</mat-form-field>

<div class="text-center">
<button type="sumbit" mt-raised-button color="primary">Send


</button>
<button type="reset" mt-raised-button color="accent">Reset


</button>

</div>
</div>

</div>
</body>